<div class="form-group">
  <label for="field">
    字段
  </label>

  <span class="pull-right text-warning hintbox-label" ng-show="agg.params.field.analyzed"
      ng-click="showAnalyzedFieldWarning = !showAnalyzedFieldWarning">
    <i class="fa fa-warning"></i> 分析的字段
  </span>
  <div class="hintbox" ng-show="showAnalyzedFieldWarning && agg.params.field.analyzed">
    <p>
    <strong>注意!</strong> 如果选择的字段包含分析(analyzed)的字符串,分析的字符串比较特殊而且在可视化的时候会消耗很多内存.像<i>foo-bar</i>的字符串会被拆分为<i>foo</i>和<i>bar</i>. 查看 <a href="http://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-types.html" target="_blank">映射类型(Mapping Types)</a> 来了解更多关于设置非解析<i>not_analyzed</i>字段内容.
    </p>

    <p ng-show="indexedFields.byName[agg.params.field.name + '.raw'].analyzed == false">
      <strong>提示:</strong> <i>{{agg.params.field.name + '.raw'}}</i> 可能是 <i>未分析(not_analyzed)</i> 的字段版本.
    </p>
  </div>

  <select
    class="form-control"
    name="field"
    required
    ng-model="agg.params.field"
    ng-show="indexedFields.length"
    auto-select-if-only-one="indexedFields"
    ng-options="field as field.displayName group by field.type for field in indexedFields"
    ng-change="aggParam.onChange(agg)">
  </select>

  <div class="hintbox" ng-if="!indexedFields.length">
    <p>
      <i class="fa fa-danger text-danger"></i>
      <strong>无法编译的字段:</strong> 这个 "{{ vis.indexPattern.id }}" 索引模式未包含下列任何一个字段类型: {{ agg.type.params.byName.field.filterFieldTypes | commaList:false }}
    </p>
  </div>

</div>
