<div class="form-group regex">
    <span class="hintbox-label" ng-click="showJsonHint = !showJsonHint">
      <label>输入JSON</label>
      <i class="fa fa-info-circle"></i>
    </span>
    <div class="hintbox" ng-show="showJsonHint">
      <p>
        在这部分，您添加的任何JSON格式化的属性将和elasticsearch聚合定义进行合并. 列如：在一个<i>terms</i>聚合(aggregation)的<i>shard_size</i> 
      </p>
    </div>
  <p>
    <textarea
      type="text"
      class="form-control"
      ng-model="agg.params.json"
      validate-json
      ></textarea>
  </p>
</div>
